[submodule "gfwlist-by-loukky"]
	path = gfwlist-by-loukky
	url = https://github.com/cdlaimin/gfwlist-by-loukky
[submodule "genpac"]
	path = genpac
	url = https://github.com/JinnLynn/genpac
[submodule "domainlist"]
	path = domainlist
	url = https://github.com/cdlaimin/ChinaDomainList
[submodule "cn-blocked-domain"]
	path = cn-blocked-domain
	url = https://github.com/cdlaimin/cn-blocked-domain
